@page
@using MedicalApp.App.Dominio
@model MedicalApp.App.FrontEnd.Page.Pacientes.IndexModel
@{
}
<form method="get" class="form-inline">
    <label class="my-1 mr-2" for="g">Genero</label>
    <select class="custom-select my-1 mr-2" id="g" name="g" asp-items="Html.GetEnumSelectList<Genero>()" asp-for="@Model.gActual">
        <option value="-1">Ver Todos</option>
    </select>
    <button type="submit" class="btn btn-primary my-1">Filtrar</button>
</form>

<form method="get" class="form-inline">
    <label class="my-1 mr-2" for="b">Buscar</label>
    <input type="text" class="form-control mb-2 mr-sm-2" id="b" name="b" asp-for="@Model.bActual">
    <button type="submit" class="btn btn-secondary my-1">Buscar</button>
</form>


<a asp-page="./Create" class="btn btn-primary">Crear nuevo paciente</a>
<h1>Listado de Pacientes</h1>
<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">Nombre</th>
            <th scope="col">Apellido</th>
            <th scope="col">Genero</th>
            <th scope="col">Acciones</th>
        </tr>
    </thead>
    <tbody> 
        @foreach (var paciente in Model.pacientes)
        {
            <tr>
                <td>@paciente.Nombre</td>
                <td>@paciente.Apellido</td>
                <td>@paciente.Genero</td>
                <td>
                    <a asp-page="./Details" class="btn btn-primary" asp-route-id="@paciente.Id">Ver Datos</a>
                    <a asp-page="./Edit" class="btn btn-warning" asp-route-id="@paciente.Id">Editar</a>
                </td>
            </tr>
        }
    </tbody>
</table>
